* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
    padding-top: 4.5%;
}

h1, h2 {
    font-family: 'Times New Roman', Times, serif;

}
